@use 'theme' as *;

.form {
  min-height: 280px;
  height: 100%;
}

.wrapper {
  margin-bottom: 12px;
}

.select {
  width: 100%;
  min-width: 300px;
}

.input {
  width: 100%;
}

.icons {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.preview {
  background: $accent;
  border-radius: 50%;
  max-width: 40px;
  max-height: 40px;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.icon-row {
  display: flex;
  align-items: center;
  gap: 8px;
}
