<form #cardForm="ngForm" (ngSubmit)="onSubmit(cardForm)" class="form">
  <div class="icons">
    <div class="preview">
      <i [class]="selectedItem().icon"></i>
    </div>
    <p-select
      class="select"
      [options]="items()"
      optionLabel="label"
      optionValue="icon"
      placeholder="Select a Category Icon"
      [(ngModel)]="selectedItem().icon"
      [ngModelOptions]="{ standalone: true }"
    >
      <ng-template let-item pTemplate="item">
        <div class="icon-row">
          <i [class]="item.icon"></i>
          <span>{{ item.label }}</span>
        </div>
      </ng-template>

      <ng-template let-item pTemplate="selectedItem">
        <div class="icon-row">
          <i [class]="item.icon"></i>
          <span>{{ item?.label }}</span>
        </div>
      </ng-template>
    </p-select>
  </div>
  <div class="wrapper">
    <input
      class="input"
      pInputText
      type="text"
      id="categoryName"
      placeholder="Category Name"
      name="categoryName"
      [(ngModel)]="card.title"
      #categoryName="ngModel"
      [invalid]="categoryName.invalid && (categoryName.touched || cardForm.submitted)"
      required
    />
    @if (categoryName.invalid && (categoryName.touched || cardForm.submitted)) {
      <p-message severity="error" size="small" variant="simple"
        >Category Name is required.</p-message
      >
    }
  </div>
  <button pButton severity="primary" type="submit">Add</button>
</form>
