<div class="card">
  <div class="left-content">
    <div class="category-icon">
      @if (categoryIcon()) {
        @if (categoryIcon()!.startsWith('pi ')) {
          <i [class]="categoryIcon()"></i>
        } @else {
          <span class="category-icon-emoji">{{ categoryIcon() }}</span>
        }
      } @else {
        <mat-icon>category</mat-icon>
      }
    </div>
    <div class="text">
      <p class="title">{{ item().title }}</p>
      <p class="category">{{ item().category }}</p>
    </div>
  </div>
  <div class="right-content">
    <p class="amount">{{ item().amount | appCurrency }}</p>
    <p class="date">{{ item().date | date }}</p>
  </div>
</div>
