<div class="container">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form">
    <mat-form-field appearance="outline" class="field" floatLabel="auto">
      <mat-label>{{ 'settings.currentPassword' | translate }}&#42;</mat-label>
      <input
        matInput
        type="password"
        [(ngModel)]="oldPassword"
        name="oldPassword"
        #old="ngModel"
        required
        autocomplete="current-password"
      />
      @if (old.invalid && (old.touched || f.submitted)) {
        <mat-error>{{ 'settings.currentPasswordRequired' | translate }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="field" floatLabel="auto">
      <mat-label>{{ 'settings.newPassword' | translate }}&#42;</mat-label>
      <input
        matInput
        type="password"
        [(ngModel)]="newPassword"
        name="newPassword"
        #newPw="ngModel"
        required
        minlength="6"
        autocomplete="new-password"
      />
      <mat-hint>{{ 'settings.atLeast6Chars' | translate }}</mat-hint>
      @if (newPw.invalid && (newPw.touched || f.submitted)) {
        <mat-error>
          @if (newPw.hasError('required')) {
            {{ 'settings.newPasswordRequired' | translate }}
          } @else if (newPw.hasError('minlength')) {
            {{ 'settings.atLeast6Chars' | translate }}.
          }
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="field" floatLabel="auto">
      <mat-label>{{ 'settings.confirmNewPassword' | translate }}&#42;</mat-label>
      <input
        matInput
        type="password"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        #confirm="ngModel"
        required
        autocomplete="new-password"
      />
      @if (confirm.invalid && (confirm.touched || f.submitted)) {
        <mat-error>{{ 'settings.confirmNewPasswordRequired' | translate }}</mat-error>
      }
      @if ((confirm.touched || f.submitted) && confirmPassword && newPassword !== confirmPassword) {
        <mat-error>{{ 'settings.passwordsDoNotMatch' | translate }}</mat-error>
      }
    </mat-form-field>
    <div class="actions">
      <app-button
        type="submit"
        appearance="primary"
        size="md"
        [disabled]="loading()"
        [loading]="loading()"
      >
        {{ 'settings.changePassword' | translate }}
      </app-button>
    </div>
  </form>
</div>
