<div class="container">
  <div class="content">
    <p class="title">Old Password</p>
    <input type="password" placeholder="Old Password" class="input" />
  </div>
  <div class="content">
    <p class="title">New Password</p>
    <input matInput type="password" placeholder="New Password" class="input" />
  </div>
  <div class="content">
    <p class="title">Confirm Password</p>
    <input matInput type="password" placeholder="Confirm Password" class="input" />
  </div>
  <update-password-button />
</div>
