<form #cardForm="ngForm" (ngSubmit)="onSubmit(cardForm)">
  @if (isDatePicker) {
    <date-picker (dateEmmit)="onChangeDate($event)" />
  }
  @for (input of inputs; track input.field) {
    @if (input.field === 'category') {
      <p-select
        class="select"
        [options]="categories.data()"
        optionValue="title"
        [id]="input.name"
        [placeholder]="input.placeholder"
        [name]="input.name"
        [ngModel]="card()[input.field]"
        (ngModelChange)="updateCardField($event)"
        #model="ngModel"
        [invalid]="model.invalid && (model.touched || cardForm.submitted)"
        required
      >
        <ng-template let-item pTemplate="item">
          <div class="icon-row">
            <i [class]="item.icon"></i>
            <span>{{ item.title }}</span>
          </div>
        </ng-template>

        <ng-template let-item pTemplate="selectedItem">
          <div class="icon-row selected">
            <span>{{ item?.title }}</span>
          </div>
        </ng-template>
      </p-select>
      @if (model.invalid && (model.touched || cardForm.submitted)) {
        <p-message severity="error" size="small" variant="simple"
          >{{ input.placeholder }} is required.</p-message
        >
      }
    } @else {
      <div class="wrapper">
        <input
          class="input"
          pInputText
          type="text"
          [id]="input.name"
          [placeholder]="input.placeholder"
          [name]="input.name"
          [(ngModel)]="card()[input.field]"
          #model="ngModel"
          [invalid]="model.invalid && (model.touched || cardForm.submitted)"
          required
        />
        @if (model.invalid && (model.touched || cardForm.submitted)) {
          <p-message severity="error" size="small" variant="simple"
            >{{ input.placeholder }} is required.</p-message
          >
        }
      </div>
    }
  }
  <button pButton severity="primary" type="submit">Add</button>
</form>
