@use 'theme' as *;

.wrapper {
  margin-bottom: 12px;
}

.select {
  width: 100%;
  margin-bottom: 12px;
}

.input {
  width: 100%;
}

.icon-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.selected {
  color: white;
}
