@use 'theme' as *;

.icon {
  font-size: 20px;
}

.button {
  background: transparent;
  border: none;
  font-size: 16px;
  color: $error;
  cursor: pointer;

  &:hover {
    color: $error;
    background: transparent;
    border: 1px solid $error;
  }
}
