<div class="card">
  <div class="header">
    <div class="left-header">
      <p class="goal-price">{{ item().goalBudget | currency }}</p>
      <button class="edit-button"><mat-icon>edit</mat-icon></button>
    </div>
    <p>{{ item().startDate | date }} - {{ item().endDate | date }}</p>
  </div>

  <divider color="tertiary" />

  <div class="content">
    <div class="left-side">
      <div class="title">
        <mat-icon>today</mat-icon>
        <div class="text-block">
          <p class="text">Target Budget</p>
          <p class="price">{{ item().targetBudget | currency }}</p>
        </div>
      </div>
      <div class="title">
        <mat-icon>check_circle</mat-icon>
        <div class="text-block">
          <p class="text">Goal Budget</p>
          <p class="price">{{ item().goalBudget | currency }}</p>
        </div>
      </div>
    </div>
    <div class="right-side">
      <canvas
        baseChart
        [labels]="labels"
        [datasets]="getDataset(item())"
        [legend]="false"
        [type]="'doughnut'"
        [width]="115"
      ></canvas>
    </div>
  </div>
</div>
