<app-modal-shell
  [title]="'sorters.title' | translate"
  [showCloseButton]="true"
  [showCancel]="true"
  [showSave]="true"
  [saveLabel]="'sorters.apply' | translate"
  [saveDisabled]="!sorter().field"
  (closeRequest)="closeModal()"
  (cancelRequest)="closeModal()"
  (saveRequest)="applySorter()"
>
  <div class="sorter-modal">
    <p class="sorter-modal__intro">{{ 'sorters.intro' | translate }}</p>

    <div class="sorter-modal__section">
      <label class="sorter-modal__label">{{ 'sorters.field' | translate }}</label>
      <select-component
        [options]="data.categoryOptions()"
        [value]="sorter().field"
        (valueChange)="onCategoryChange($event)"
      />
    </div>

    <div class="sorter-modal__section">
      <label class="sorter-modal__label">{{ 'sorters.direction' | translate }}</label>
      <div class="sorter-modal__direction" role="group" [attr.aria-label]="'sorters.direction' | translate">
        <button
          type="button"
          class="sorter-modal__direction-btn"
          [class.sorter-modal__direction-btn--active]="isAscending()"
          (click)="onChangeOrder(true)"
        >
          <app-icon material="north" [sizePx]="18" />
          {{ 'sorters.ascending' | translate }}
        </button>
        <button
          type="button"
          class="sorter-modal__direction-btn"
          [class.sorter-modal__direction-btn--active]="!isAscending()"
          (click)="onChangeOrder(false)"
        >
          <app-icon material="south" [sizePx]="18" />
          {{ 'sorters.descending' | translate }}
        </button>
      </div>
    </div>

    <div class="sorter-modal__toolbar">
      <button type="button" class="sorter-modal__clear-btn" (click)="clearSorter()">
        <app-icon material="clear_all" [sizePx]="18" />
        {{ 'sorters.clearSorting' | translate }}
      </button>
    </div>
  </div>
</app-modal-shell>
