<app-modal-shell
  title="Sort by"
  [showCloseButton]="true"
  [showCancel]="true"
  [showSave]="true"
  saveLabel="Apply"
  (closeRequest)="closeModal()"
  (cancelRequest)="closeModal()"
  (saveRequest)="applySorter()"
>
  <div class="content">
    <div class="selectors">
      <select-component
        [options]="data.categoryOptions()"
        [value]="sorter().field"
        (valueChange)="onCategoryChange($event)"
      />
      <div class="sort-buttons">
        <button
          mat-button
          class="sort-button"
          [class.active]="isAscending()"
          (click)="onChangeOrder(true)"
        >
          <app-icon material="keyboard_arrow_down" [sizePx]="20" />
        </button>
        <button
          mat-button
          class="sort-button"
          [class.active]="!isAscending()"
          (click)="onChangeOrder(false)"
        >
          <app-icon material="keyboard_arrow_up" [sizePx]="20" />
        </button>
      </div>
    </div>
    <div class="bottom-block">
      <button mat-button class="clear-sorters" (click)="clearSorter()">
        <app-icon material="close" [sizePx]="18" />Clear Sorters
      </button>
    </div>
  </div>
</app-modal-shell>
