@use 'theme' as *;

:host ::ng-deep .app-modal-shell__content {
  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: end;
  }

  .selectors {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .sort-buttons {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .clear-sorters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: $accent;
    cursor: pointer;
    background: transparent;
    border: 1px solid $accent;
    padding: 4px 12px;
    border-radius: 16px;
    font-size: 16px;
  }

  .sort-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid $accent;
    color: $accent;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
  }

  .active {
    color: $white;
    background: $accent;
  }
}
