@use 'theme' as *;

:host {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  border-radius: 16px;
  background: $secondary;
}

.body {
  display: flex;
  justify-content: center;
  height: 100%;
}

.card {
  background: $balance-card-color;
  border-radius: 12px;
  padding: 20px 16px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
