@use 'theme' as *;
@use 'shared/styles/breakpoints' as bp;

:host {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.body {
  height: 100%;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.content {
  border-radius: 12px;
  background: $secondary;
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include bp.tablet-and-up {
    border-radius: 14px;
    padding: 20px;
  }

  @include bp.desktop-and-up {
    border-radius: 16px;
    padding: 24px;
  }
}

.title {
  margin-bottom: 6px;
  color: $white;
  font-size: 18px;

  @include bp.tablet-and-up {
    font-size: 20px;
    margin-bottom: 8px;
  }

  @include bp.desktop-and-up {
    font-size: 22px;
  }
}

.see-all {
  display: flex;
  align-items: center;
  color: $gray;
  font-size: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
}
