@use 'theme' as *;

.body {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 32px;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.text {
  font-size: 16px;
  font-weight: 400;
  color: $gray;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  gap: 32px;
}

.edit-button {
  background: $accent;
  border: 1px solid $primary;
  border-radius: 8px;
  font-size: 18px;
  width: 160px;
  height: 40px;
  color: $white;
  cursor: pointer;
}
