<app-modal-shell
  [title]="'goals.adjustGoal' | translate"
  [showDelete]="true"
  [showCancel]="true"
  [showSave]="true"
  [saveDisabled]="!!f.invalid || hasDateError() || hasBudgetError()"
  (closeRequest)="onCancel()"
  (deleteRequest)="onDelete()"
  (cancelRequest)="onCancel()"
  (saveRequest)="onSave()"
>
  <form #f="ngForm" class="app-modal-form" (ngSubmit)="onSave()">
    <div class="form-fields">
      <div class="field">
        <label for="title" class="label">{{ 'common.title' | translate }}</label>
        <input
          pInputText
          id="title"
          name="title"
          type="text"
          [(ngModel)]="data.title"
          [placeholder]="'goals.enterTitle' | translate"
        />
      </div>

      <div class="field">
        <app-price-currency-field
          [label]="'goals.targetBudget' | translate"
          amountName="targetBudget"
          [(amount)]="targetBudget"
          [(currencyCode)]="currencyCode"
          [lockCurrency]="true"
        />
        <div class="error-slot">
          @if (hasBudgetError() && goalBudget > 0 && targetBudget > goalBudget) {
            <small class="error">{{ 'goals.errors.targetNotExceedGoal' | translate }}</small>
          }
        </div>
      </div>

      <div class="field">
        <app-price-currency-field
          [label]="'goals.goalBudget' | translate"
          amountName="goalBudget"
          [(amount)]="goalBudget"
          [showCurrency]="false"
        />
        <div class="error-slot">
          @if (hasBudgetError() && goalBudget <= 0) {
            <small class="error">{{ 'goals.errors.mustBeGreaterThanZero' | translate }}</small>
          }
        </div>
      </div>

      <div class="field">
        <label for="categoryId" class="label">{{ 'txModal.category' | translate }}</label>
        <p-select
          inputId="categoryId"
          name="categoryId"
          [options]="categoryOptions"
          optionLabel="title"
          optionValue="id"
          [(ngModel)]="selectedCategoryId"
          [placeholder]="'txModal.selectCategory' | translate"
          appendTo="body"
        >
          <ng-template let-item pTemplate="item">
            <div class="icon-row">
              <app-icon [icon]="item.icon" />
              <span>{{ item.title }}</span>
            </div>
          </ng-template>
        </p-select>
      </div>

      <div class="field">
        <label for="startDate" class="label">{{ 'goals.startDate' | translate }}</label>
        <p-datepicker
          id="startDate"
          inputId="startDate"
          [(ngModel)]="data.startDate"
          name="startDate"
          dateFormat="yy-mm-dd"
          appendTo="body"
          panelStyleClass="subscription-datepicker-panel"
        ></p-datepicker>
      </div>

      <div class="field">
        <label for="endDate" class="label"
          >{{ 'goals.endDate' | translate }}
          <span class="optional">({{ 'common.optional' | translate }})</span></label
        >
        <p-datepicker
          id="endDate"
          inputId="endDate"
          [(ngModel)]="data.endDate"
          name="endDate"
          dateFormat="yy-mm-dd"
          appendTo="body"
          panelStyleClass="subscription-datepicker-panel"
        ></p-datepicker>
        <div class="error-slot">
          @if (hasDateError()) {
            <small class="error">{{ 'goals.errors.endDateAfterStart' | translate }}</small>
          }
        </div>
      </div>
    </div>
  </form>
</app-modal-shell>
