@use 'theme' as *;
@use '@angular/material' as mat;

:host {
  width: 100%;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid $tertiary;
  box-sizing: border-box;
  padding: 16px 32px;
}

.left-content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.category-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
  background-color: $tertiary;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.tabs {
  @include mat.tabs-overrides(
    (
      active-focus-indicator-color: $accent,
      active-focus-label-text-color: $accent,
      active-hover-indicator-color: $accent,
      active-hover-label-text-color: $accent,
      active-indicator-color: $accent,
      active-label-text-color: $accent,
      inactive-label-text-color: $gray,
      inactive-hover-label-text-color: $white,
      inactive-focus-label-text-color: $white,
      divider-color: $accent,
    )
  );
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  color: $accent;
  font-size: 48px;
  width: 48px;
  height: 40px;
}
