<dashboard-card [title]="title()" [isWithSeeAll]="isWithSeeAll()" [seeAllPath]="seeAllPath()">
  <card-body class="body">
    @if (!fixedView()) {
      <div class="select-wrapper">
        <button class="toggle" (click)="handleClickPrev()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <select-component
          [options]="chartViewChoices()"
          [value]="currentView().value"
          (valueChange)="onValueChange($event)"
        />
        <button class="toggle" (click)="handleClickNext()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    }
    <canvas class="chart" baseChart [data]="data()" [options]="options" [type]="'bar'"></canvas>
  </card-body>
</dashboard-card>
