:host {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.head {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 24px;
}
