@use 'theme' as *;
@use 'shared/styles/breakpoints' as bp;

:host {
  display: block;
  width: 100%;
  min-width: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  gap: 24px;
  box-sizing: border-box;

  @include bp.desktop-and-up {
    gap: 32px;
  }
}

.content {
  width: 100%;
  min-width: 0;
}
