@use 'theme' as *;
@use '@angular/material' as mat;

.sidebar {
  display: flex;
  width: 320px;
  height: 100%;
  border-right: 1px solid $tertiary;
  flex-direction: column;
}

.sidebar-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.logo {
  width: 100%;
  box-sizing: border-box;
  padding: 32px;
}

.logo-wrapper {
  border-bottom: 1px solid $tertiary;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.account {
  margin: 96px 0 24px 0;
  border-top: 1px solid $tertiary;
  width: 100%;
}
