@use 'theme' as *;
@use 'shared/styles/breakpoints' as bp;
@use '@angular/material' as mat;

.paginator {
  width: 100%;
  max-width: 600px;
  background: transparent;
  color: $white;
  font-size: 14px;

  @include bp.tablet-and-up {
    font-size: 16px;
  }

  @include bp.desktop-and-up {
    font-size: 18px;
  }

  @include mat.paginator-overrides(
    (
      enabled-icon-color: $accent,
      disabled-icon-color: $gray,
    )
  );
}
