<form #cardForm="ngForm" (ngSubmit)="onSubmit(cardForm)" class="app-modal-form">
  <div class="form-fields">
    <div class="field field--icon">
      <label for="categoryIcon">Category Icon</label>
      <div class="icons">
        <div class="preview">
          <app-icon [icon]="card.icon" />
        </div>
        <p-select
          id="categoryIcon"
          class="select"
          [options]="iconOptions"
          optionLabel="label"
          optionValue="value"
          placeholder="Select a Category Icon"
          [(ngModel)]="card.icon"
          name="categoryIcon"
          [ngModelOptions]="{ standalone: true }"
          appendTo="body"
          [overlayOptions]="iconSelectOverlayOptions"
        >
          <ng-template let-item pTemplate="item">
            <div class="icon-row">
              <app-icon [icon]="item.value" />
              <span>{{ item.label }}</span>
            </div>
          </ng-template>
          <ng-template let-item pTemplate="selectedItem">
            <div class="icon-row">
              <app-icon [icon]="item?.value" />
              <span>{{ item?.label }}</span>
            </div>
          </ng-template>
        </p-select>
      </div>
      <div class="error-slot"></div>
    </div>
    <div class="field">
      <label for="categoryName">Category Name&#42;</label>
      <input
        class="input"
        pInputText
        type="text"
        id="categoryName"
        placeholder="Category Name"
        name="categoryName"
        [(ngModel)]="card.title"
        #categoryName="ngModel"
        [invalid]="categoryName.invalid && (categoryName.touched || cardForm.submitted)"
        required
      />
      <div class="error-slot">
        @if (categoryName.invalid && (categoryName.touched || cardForm.submitted)) {
          <small class="error">Category Name is required.</small>
        }
      </div>
    </div>
  </div>
  <div class="actions">
    <button type="button" pButton label="Cancel" (click)="close()" class="cancel-btn"></button>
    <button pButton severity="primary" type="submit" label="Add" class="submit-btn"></button>
  </div>
</form>
