<div class="card">
  <div class="header">
    <div class="left-content">
      <div class="category-icon">
        <app-icon [icon]="category?.icon" />
      </div>
      <div class="text">
        <p class="category">{{ category?.title }}</p>
        <p class="cost">{{ displayTotalExpenses() | appCurrency }}</p>
      </div>
    </div>
    <div class="right-content">
      <div class="percents-block">
        <p class="percents">{{ compareToLastMonth().value }}%</p>
        @if (compareToLastMonth().value > 0) {
          <app-icon
            [icon]="compareToLastMonth().isIncrease ? 'arrow_upward' : 'arrow_downward'"
            [iconClass]="
              compareToLastMonth().isIncrease ? 'icon icon--increase' : 'icon icon--decrease'
            "
          />
        }
      </div>
      <p class="compare">Compare to last month</p>
    </div>
  </div>
  <div class="body">
    @if (expenses().length) {
      @for (expense of expenses(); track expense.id) {
        <expense-card-item [expense]="expense" />
      }
    } @else {
      <div class="data-placeholder">
        <span class="data-placeholder__icon" aria-hidden="true">📊</span>
        <p>No expenses in this category</p>
      </div>
    }
  </div>
</div>
