<div class="container">
  <controls [controlsProps]="controlsProps()" />
  <dashboard-card title="Subscribtions">
    <card-body class="table">
      <div class="header">
        @for (header of displayedCells(); track header.field) {
          <p class="header-title">{{ header.name }}</p>
        }
      </div>
      @if (subscribes().length) {
        @for (subscribe of subscribes(); track subscribe.id) {
          <div class="row">
            <div class="date">
              <p>{{ subscribe.subscribeDate | date: 'MMM' }}</p>
              <p class="day">{{ subscribe.subscribeDate | date: 'dd' }}</p>
            </div>
            <p class="title">{{ subscribe.subscribeName }}</p>
            <p class="describtion">{{ subscribe.description }}</p>
            <p class="type">{{ subscribe.type | titlecase }}</p>
            <p class="last-charge">{{ subscribe.lastCharge | date }}</p>
            <p class="amount">{{ subscribe.amount | currency }}</p>
          </div>
        }
      } @else {
        <p class="no-data">No data</p>
      }
    </card-body>
  </dashboard-card>
  <pagination />
</div>
