.charts {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.chart {
  width: 600px;
  height: 400px;

  &:not(:first-child) {
    margin-bottom: 24px;
  }
}

.subtitle {
  font-size: 20px;
  font-weight: 600;
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 12px;
}

.disable {
  display: none;
}

.row {
  flex-direction: row;
  width: 100%;

  .chart {
    width: 100%;
    height: 600px;
  }
}
