@use 'theme' as *;

.table {
  width: 100%;
  height: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid $primary;
  border-top: 1px solid $primary;
  background: $secondary;
  color: $white;
  cursor: pointer;
  padding: 4px 4px;
  text-align: start;
}

th.mat-mdc-header-cell {
  background: $secondary;
  color: $gray;
  padding: 4px 4px;
  font-size: 18px;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: $gray;
}
