<app-modal-shell
  [title]="'filters.title' | translate"
  [showCloseButton]="true"
  [showCancel]="true"
  [showSave]="true"
  [saveLabel]="'filters.apply' | translate"
  (closeRequest)="closeModal()"
  (cancelRequest)="closeModal()"
  (saveRequest)="applyChanges()"
>
  <div class="filters-modal">
    <p class="filters-modal__intro">
      {{ 'filters.intro' | translate }}
    </p>

    <ul class="filters-modal__list" role="list">
      @for (filter of filters(); track filter.id; let i = $index) {
        <li class="filters-modal__row" role="listitem">
          <div class="filters-modal__row-top">
            <span class="filters-modal__row-badge" aria-hidden="true">{{ i + 1 }}</span>
            <span class="filters-modal__row-title">{{ 'filters.rule' | translate }}</span>
            <button
              type="button"
              class="filters-modal__remove"
              (click)="removeFilter(i)"
              [attr.aria-label]="('filters.removeFilter' | translate) + ' ' + (i + 1)"
            >
              <app-icon material="close" [sizePx]="18" />
            </button>
          </div>

          <div class="filters-modal__fields">
            <div class="filters-modal__field">
              <label class="filters-modal__label" [attr.for]="'filter-cat-' + i">{{
                'txModal.category' | translate
              }}</label>
              <select-component
                [attr.id]="'filter-cat-' + i"
                [options]="data.categoryOptions()"
                [value]="filter.category"
                (valueChange)="onCategoryChange($event, i)"
              />
            </div>
            <div class="filters-modal__field">
              <label class="filters-modal__label" [attr.for]="'filter-val-' + i">{{ 'filters.value' | translate }}</label>
              <select-component
                [attr.id]="'filter-val-' + i"
                [options]="filter.valueOptions"
                [value]="filter.value"
                (valueChange)="onValueChange($event, i)"
                [disabled]="!filter.category"
              />
            </div>
          </div>
        </li>
      }
    </ul>

    <div class="filters-modal__toolbar" role="group" [attr.aria-label]="'filters.actions' | translate">
      <app-button appearance="outline" size="sm" type="button" (buttonClick)="addFilter()">
        <app-icon material="add" [sizePx]="18" />
        {{ 'filters.addFilter' | translate }}
      </app-button>
      <app-button appearance="ghost" size="sm" type="button" (buttonClick)="clearFilters()">
        <app-icon material="clear_all" [sizePx]="18" />
        {{ 'filters.clearAll' | translate }}
      </app-button>
    </div>
  </div>
</app-modal-shell>
