@use 'theme' as *;

.modal-content {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  width: 100%;
  overflow: hidden;

  .selectors {
    display: flex;
    align-items: end;
    gap: 8px;
    margin-bottom: 12px;
  }

  .title {
    font-size: 20px;
    font-weight: 600;
    color: $accent;
    margin-bottom: 12px;
  }

  .text {
    font-size: 16px;
    color: $white;
    margin-bottom: 4px;
  }

  .bottom-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }

  .bottom-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: $accent;
    cursor: pointer;
    background: transparent;
    border: 1px solid $accent;
    padding: 4px 12px;
    border-radius: 16px;
    font-size: 16px;
  }

  .remove-filter {
    display: flex;
    align-items: center;

    color: $accent;
    cursor: pointer;
    background: transparent;
    border: 1px dashed $accent;
    padding: 2px;
    border-radius: 50%;
  }
}
