<dashboard-card
  title="Goals"
  [isWithSeeAll]="true"
  [seeAllPath]="seeAllPath"
  [seeAllNavigation]="seeAllNavigation()"
>
  <card-body class="body">
    @if (isLoading()) {
    <div class="data-loading">
      <p-progress-spinner ariaLabel="Loading" />
    </div>
    } @else if (goals().length) {
    <p-carousel
      [value]="goals()"
      [numVisible]="1"
      [numScroll]="1"
      [responsiveOptions]="carouselResponsive"
      [showNavigators]="goals().length > 1"
      [showIndicators]="goals().length > 1"
      styleClass="dashboard-carousel"
    >
      <ng-template #item let-goal>
        <div class="carousel-slide">
          <goal-card-item [item]="goal" />
        </div>
      </ng-template>
    </p-carousel>
    } @else {
    <div class="data-placeholder">
      <div class="dash-empty-icon" aria-hidden="true">
        <app-icon prime="flag" [sizePx]="26" />
      </div>
      <p>No goals</p>
      <p>
        @if (groupRoomId()) {
          Add a goal in the Goals tab
        } @else {
          Create a goal on the Goals page
        }
      </p>
    </div>
    }
  </card-body>
</dashboard-card>
