<div class="content" [class.content--room]="!!groupRoomId()">
  @if (!groupRoomId()) {
    <dash-balance-card class="block balance-block" />
  }
  <dash-goal-card class="block goal-block" [groupRoomId]="groupRoomId()" />
  <dash-subscribe-card class="block subscribe-block" [groupRoomId]="groupRoomId()" />
  <dash-transaction-card class="block transaction-block" [groupRoomId]="groupRoomId()" />
  <div class="block stats-block">
    @if (groupRoomId(); as rid) {
      <category-analitics [roomId]="rid" view="column" [showLegendTags]="false" />
    } @else {
      <budget-statistic-card
        [fixedView]="fixedView()"
        [title]="'Week statistic'"
        [isWithSeeAll]="true"
        [seeAllPath]="seeAllPath"
      />
    }
  </div>
  @if (!groupRoomId()) {
    <dash-expense-card class="block expense-block" />
  }
</div>
