@use 'theme' as *;
@use '@angular/material' as mat;

.container {
  display: flex;
  align-items: center;
  padding: 24px;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
}

.pi {
  background: $tertiary;
  padding: 12px;
  border-radius: 50%;
  font-size: 24px;
}
