<div class="container">
  @if (user()) { @if (user()!.avatar && !avatarLoadError()) {
  <img
    [src]="avatarUrl(user()!.avatar!)"
    alt="Avatar"
    class="avatar-img"
    referrerpolicy="no-referrer"
    (error)="avatarLoadError.set(true)"
  />
  } @else {
  <app-icon prime="user" [sizePx]="20" iconClass="avatar-placeholder" />
  }
  <div class="info">
    <div class="name">{{ user()!.name }}</div>
    <div class="email">{{ user()!.email }}</div>
  </div>
  } @else {
  <p class="no-user">User not found</p>
  }
</div>
