<div class="content">
  <div class="left">
    <div class="date">
      <p>{{ subscribe().subscribeDate | date: 'MMM' }}</p>
      <p class="day">{{ subscribe().subscribeDate | date: 'dd' }}</p>
    </div>

    <div class="info">
      <p class="name">{{ subscribe().subscribeName }}</p>
      <div class="info__row">
        <span class="type-tag">{{ ('subscriptions.type.' + formatType(subscribe().type)) | translate }}</span>
        @if (subscribe() | nextChargeDate; as nextDate) {
          <span class="info__next">Next: {{ nextDate | date: 'MMM d' }}</span>
        }
      </div>
    </div>
  </div>

  <div class="price-block">
    <span class="price">
      {{ subscribe().amount | appCurrencyPrimary: subscribe().currencyCode
      }}{{ (subscribe() | subscriptionYearly).periodLabel }}
    </span>
  </div>
</div>

@if (!isLast()) {
  <div class="divider" aria-hidden="true"></div>
}
