<div class="content">
  <div class="left">
    <div class="date">
      <p>{{ subscribe().subscribeDate | date: 'MMM' }}</p>
      <p class="day">{{ subscribe().subscribeDate | date: 'dd' }}</p>
    </div>

    <div class="info">
      <p class="name">{{ subscribe().subscribeName }}</p>
      @if (subscribe() | nextChargeDate; as nextDate) {
        <p class="info__meta">
          {{ subscribe().type | titlecase }} · Next: {{ nextDate | date: 'MMM d' }}
        </p>
      } @else {
        <p class="info__meta">{{ subscribe().type | titlecase }}</p>
      }
    </div>
  </div>

  <div class="price-block">
    <p class="price">
      {{ subscribe().amount | appCurrencyPrimary: subscribe().currencyCode
      }}{{ (subscribe() | subscriptionYearly).periodLabel }}
    </p>
    @if ((subscribe() | subscriptionYearly).yearlyFormatted; as yearly) {
      <p class="price-yearly">· {{ yearly }}</p>
    }
  </div>
</div>

@if (!isLast()) {
  <divider />
}
