@use 'theme' as *;

:host {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  border-radius: 16px;
  background: $secondary;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card {
  display: flex;
  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;

  .secondary {
    font-size: 0.875rem;
    opacity: 0.85;
  }
}
