@use 'theme' as *;
@use '@angular/material' as mat;

:host {
  width: 100%;
  max-width: 500px;
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0;
}

.transaction-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 4px;
}

.tabs {
  @include mat.tabs-overrides(
    (
      active-focus-indicator-color: $accent,
      active-focus-label-text-color: $accent,
      active-hover-indicator-color: $accent,
      active-hover-label-text-color: $accent,
      active-indicator-color: $accent,
      active-label-text-color: $accent,
      inactive-label-text-color: $gray,
      inactive-hover-label-text-color: $white,
      inactive-focus-label-text-color: $white,
      divider-color: $accent,
    )
  );

  ::ng-deep .mat-mdc-tab .mdc-tab__text-label {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.02em;
  }

  ::ng-deep .mat-mdc-tab-header {
    margin-bottom: 4px;
  }

  ::ng-deep .mat-mdc-tab-body-wrapper {
    display: none;
  }
}
