<dashboard-card [title]="title" [isWithSeeAll]="true" [seeAllPath]="seeAllPath">
  <card-header class="header">
    <mat-tab-group
      [selectedIndex]="tabs.indexOf(tabFilter())"
      (selectedIndexChange)="onSelectedIndexChange($event)"
      class="tabs"
    >
      @for (tab of tabs; track tab) {
      <mat-tab [label]="tab" class="tab" />
      }
    </mat-tab-group>
  </card-header>
  <card-body class="body">
    @if (isLoading()) {
    <div class="data-loading">
      <p-progress-spinner ariaLabel="Loading" />
    </div>
    } @else if (currentItems().length) {
    <div class="transaction-list">
      @for (item of currentItems(); track item.id) {
      <transaction-card-item [item]="item" />
      }
    </div>
    } @else {
    <div class="data-placeholder">
      <span class="data-placeholder__icon" aria-hidden="true">📋</span>
      <p>No transactions</p>
    </div>
    }
  </card-body>
</dashboard-card>
