@use 'theme' as *;
@use '@angular/material' as mat;

:host {
  width: 100%;
  max-width: 500px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table {
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.tabs {
  @include mat.tabs-overrides(
    (
      active-focus-indicator-color: $accent,
      active-focus-label-text-color: $accent,
      active-hover-indicator-color: $accent,
      active-hover-label-text-color: $accent,
      active-indicator-color: $accent,
      active-label-text-color: $accent,
      inactive-label-text-color: $gray,
      inactive-hover-label-text-color: $white,
      inactive-focus-label-text-color: $white,
      divider-color: $accent,
    )
  );
}
